<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<title>ログイン</title>
</head>
<body>
    <div class="container">
    	<img th:src="@{/images/JOJO.jpeg}" alt="JOJO" width="10%" height="10%">
        <h1 class="my-3">Java教育システム</h1>
        <div class="center-block">
        <div class="border" style="width:400px;height:200px;background-color:skyblue">
	        <form th:action="@{/login}" method="post">
	            <table class="table table-bordered col-md-6">
	            <tr class="form-group">
	                <th class="align-middle">社員番号</th>
	                <td><input type="text" class="form-controll" name="username"></td>
	            </tr>
	            <tr class="form-group">
	                <th class="align-middle">パスワード</th>
	                <td><input type="text" class="form-controll" name="password"></td>
	            </tr>
	            </table>
	            <br>
	            <!--/* ログインエラー時にメッセージを表示 */-->
	        	<div th:if="${param.error}" class="alert alert-danger">
	        		<font color="red">名前またはパスワードが正しくありません</font>
	        	</div>
	            <div>
	                <input type="submit" class="btn btn-primary" value="ログイン">
	            </div>
	        </form>
        </div>
        </div>
    </div>
    <p class="text-center">中央</p>
    <div class="border border-warning" style="padding:5px;">border-warning</div><br>
    <script src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>